<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='My Mall'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">


    <div class="py-5 ml-2">
        <h2>내가 좋아요 한 목록</h2>
    </div>
    <th:block th:insert="layout/fragments :: itemListFragment(${list})"/>



</div>
</body>
</html>