<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='My Mall'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">  <!--  main-layout.html의 content라고 하는 fragment 자리에 이걸 넣어줘!  -->
        <h1>이곳은 메인페이지</h1>

        <!-- 로그인을 안 했을 때-->
        <div sec:authorize="!isAuthenticated()">
            환영합니다. <span th:text="${#authentication?.name}"></span>님, <br/>
            로그인해주십시오.
        </div>

        <!-- 로그인을 했을 때-->
        <div sec:authorize="isAuthenticated()">
            환영합니다. <span th:text="${member.email}"></span>님 <br/>

            <form th:action="@{/logout}" method="post">
                <button>로그아웃</button>
            </form>
        </div>
    </div>
</body>
</html>